vti_encoding:SR|utf8-nl
vti_author:SR|Asif-PC\\Asif
vti_modifiedby:SR|Asif-PC\\Asif
vti_timelastmodified:TR|22 Sep 2009 01:06:58 -0000
vti_timecreated:TR|22 Sep 2009 01:06:58 -0000
vti_cacheddtm:TX|22 Sep 2009 01:06:58 -0000
vti_filesize:IR|2272
vti_cachedlinkinfo:VX|S|layout.css
vti_cachedsvcrellinks:VX|FSUS|styles/layout.css
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
